
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin formText {
  background-color: $JetBlack2;
  color: white;

  &::placeholder {
    text-align: center;
    color: white;
  }
}

@mixin h1Tag {
  padding: 1rem;
  text-align: center;
  color: $White2;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 1.2rem;
  background-color: $Gray;
}

#navbar {
  position: fixed;
  top: 0;
  background-color: $White1;
  padding: 1rem;
  width: 100%;

  .nav-items {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;

    .navlinks {
      padding: 0.5rem;
      position: relative;

      > a {
        text-decoration: none;
        padding-bottom: 1.37rem;
        color: $GunmetalGray;

        &:hover {
          color: $JetBlack2;
          transition: 250ms ease-in;
          border-bottom: 2px solid;
        }
      }
    }
  }
}

.main-content {
  #welcome-section {
    background: linear-gradient(
        to bottom,
        rgba(39, 39, 39, 0.9),
        rgba(39, 39, 39, 0.7)
      ),
      url("https://i.postimg.cc/hj6b4MT4/bw-world-map-img.jpg") no-repeat fixed
        center;

    background-size: cover;
    margin-bottom: 1rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .intro {
      text-align: center;
      font-family: monospace;
      background: rgb(1, 1, 1, 0.3);

      > h1 {
        cursor: pointer;
        color: white;
      }
      h3 {
        color: $White1;

        > code {
          color: $blueGrotto;

          &::before {
            content: "<";
          }
          &::after {
            content: ">";
          }
        }
      }
      > p {
        color: white;

        > a {
          text-decoration: none;
          color: $blueGrotto;

          &:hover {
            transition: 250ms ease-in;
            color: $creamyellow;
          }
        }
      }
    }
  }

  #projects {
    margin: 1rem;
    background-color: $Pewter;
    border-radius: 5px;

    .project-tile {
      border-radius: 5px;
      margin-bottom: 1rem;
      height: 100%;

      > h1 {
        @include h1Tag();
        background-color: $JetBlack3;
        border-radius: 5px;
      }

      > a {
        text-decoration: none;
        color: $royalBlue;
      }

      .view-certificate {
        > h2 {
          font-family: cursive;
          @include h1Tag();
          color: $Ebony;
          font-size: 1.4rem;
          border-top: 1px solid;
          border-bottom: 1px solid;

          > a {
            text-decoration: none;
            padding: 0.5rem;
            color: $GunmetalGray;

            &:hover {
              transition: 250ms ease-in;
              box-shadow: 0px 0px 2px $White2;
              color: $JetBlack3;
            }
          }
        }
      }

      .project-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 4rem;
        width: 100%;
        max-width: 1280px;
        margin: 2rem auto;

        .card1 {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: space-between;
          border: 2px solid;
          border-radius: 5px;
          height: 20rem;
          width: 18rem;
          margin: 0rem auto 1rem auto;

          > img {
            display: block;
            width: 100%;
            height: 14rem;
            object-fit: cover;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
            // border-radius: 5px;
          }

          > code {
            padding: 1rem;
            font-weight: 600;
            background-color: $White2;
          }

          > a {
            background-color: $JetBlack2;
            text-decoration: none;
            padding: 0.5rem;
            color: $White1;

            &:hover {
              color: $creamyellow;
            }
          }
        }
      }
    }
    .upcoming {
      > h2 {
        border-top: 1px solid;
        border-bottom: 1px solid;
        @include h1Tag();
        font-family: cursive;
        color: $Ebony;
      }

      > p {
        font-size: 1.3rem;
        text-align: center;
        padding-top: 2rem;
      }

      &::after {
        content: " ... ";
        display: flex;
        font-size: 4rem;
        justify-content: center;
      }
    }
  }

  #connect {
    margin: 1rem;
    background-color: $Pewter;
    border-radius: 5px;
    height: 55%;
    display: flex;
    flex-direction: column;

    > h1 {
      @include h1Tag();
      background-color: $JetBlack3;
      border-radius: 5px;
    }

    > p {
      font-size: 1.3rem;
      text-align: center;
      margin: 1rem 0rem 1rem 0rem;
      border-bottom: 1px solid;
      padding-bottom: 1.5rem;
    }

    .connect-container {
      display: flex;
      align-items: center;
      form {
        width: 50%;
        text-align: justify;
        font-family: "Times New Roman", Times, serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;

        > label {
          font-size: 1.4rem;
          margin-left: 1rem;
          border-bottom: 1px solid grey;
        }

        .form-group {
          display: flex;
          flex-direction: column;
          padding: 1rem;

          > input[type="text"],
          input[type="email"] {
            border: none;
            width: 15rem;
            font-size: 1rem;
            padding: 0.4rem;
            border-radius: 5px;
            background-color: $creamyellow;
            @include formText();
          }

          > textarea {
            border: none;
            border-radius: 5px;
            width: 20rem;
            height: 6rem;
            font-size: 1rem;
            padding: 1rem;
            @include formText();
          }
        }

        .submit-btn {
          justify-content: center;
          width: 8rem;
          margin-left: 1rem;
          margin-bottom: 0.7rem;
          padding: 0.5rem;
          font-size: 1rem;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          background-color: $JetBlack2;
          color: white;

          &:hover {
            transition: 250ms ease-in;
            background-color: $White2;
            color: $JetBlack1;
          }
        }
      }

      .link-box {
        display: flex;

        > a {
          display: flex;
          text-decoration: none;
          color: $JetBlack3;

          align-items: center;
          flex-direction: column;
          padding: 0.5rem;
          width: 12rem;
          margin-right: 1rem;

          &:hover {
            transition: 250ms ease-in;
            color: $White1;
            border-radius: 5px;
            box-shadow: 0px 5px 12px grey;
          }

          > i {
            font-size: 4rem;
          }
        }
      }
    }
  }

  > footer {
    .footer-section {
      background-color: $White1;
      height: 20vh;
      > h4 {
        padding: 1rem;
        color: $royalBlue;
        text-align: center;
      }
      > p {
        text-align: center;
        padding: 1rem;
        // display: flex;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: 5rem;
  }

  // For Small screen
  #navbar {
    .nav-items {
      display: flex;
      list-style-type: none;
      gap: 3rem;
      justify-content: center;

      .navlinks {
        // padding: 0;

        > a {
          padding-bottom: 1.4rem;
          // padding: 0;
        }
      }
    }
  }

  .main-content {
    margin-top: 4.5rem;

    .intro {
      text-align: center;
    }

    #projects {
      .project-tile {
        .project-cards {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    #connect {
      height: 122vh;
      flex-direction: column;

      .connect-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        // align-items: center;

        > form {
          border-bottom: 1px solid grey;
          width: 20rem;
          margin: 0;
        }

        .link-box {
          display: flex;
          flex-direction: column;
          > a {
            margin: 0;
            > i {
              font-size: 4.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #connect {
    .connect-container {
      display: flex;
      gap: 1rem;
      flex-direction: column;

      > form {
        border-bottom: 1px solid grey;
        width: 20rem;
      }
    }
  }
}
